# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore paperclip cache
/public/system

# Ignore other unneeded files.
doc/
*.swp
*~
.project
*.sublime-project
*.sublime-workspace
.idea
.secret
Thumbs.db
.env
config/settings.yml
