<% provide(:title, @series.name) %>
<%= image_tag @series.banner, class: "img-responsive center-block" %><br>
<h2>New episodes</h2>
<%= render partial: 'episode_item', collection: @new_episodes, as: :episode %>
<h2>Seen episodes</h2>
<%= render partial: 'episode_item', collection: @seen_episodes, as: :episode %>

<br>

<%= link_to 'New Episode', new_series_episode_path(@series, @show), class: "btn btn-info" %>
