<h1>Listing shows</h1>

<% @shows.in_groups_of(4) do |show_group| %>
  <div class="row show">
  <% show_group.each do |show| %>
    <%= render show %>
  <% end %>
  </div>
<% end %>


<br>

<%= link_to 'New Show', new_show_path, class: "btn btn-info" %>
