<% @series.in_groups_of(4, false) do |series_group| %>
  <div class="row series">
  <% series_group.each do |series| %>
    <%= render series %>
  <% end %>
  </div>
<% end %>

<br>

<%= link_to 'Add new series manually', new_series_path, class: "btn btn-info" %>
